// Font
$font-family-large: "Libre Franklin Black";
$font-family-gras: "Libre Franklin Bold";
$font-family-std: "Libre Franklin Medium";

// Color
$color-primary: #7B519C;
$color-secondary: #E4D6EA;
$color-footer: #423E3E;
$color-insert-primary: #9acad9;
$color-insert-secondary: #dbc4a5;

